body{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
    color: black;
}

.text_images_and_result{
    background-color: whitesmoke;
    border-radius: 20px;
    margin-right: 40px;
}

ol{ 
    font-size: 25px;
}
b{
    color: coral;
}
.bob3{
    background-color:lightgrey ;
    padding-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 20px;
    margin-bottom: 5%;
}

hr{
    margin-right: 10%;
    margin-left: 10%;
}
.img-responsive{
    box-shadow: 10px 10px 18px grey;
}
ol{
    font-family: Raleway;
}
footer{
    background-color: lightslategray;
    color: white;
}

#gllogo{
    width: 50px;
    height: 50px;
}